[includeIf "gitdir:~/Code/"]
	path = .gitconfig-professional
[includeIf "gitdir:~/dev/"]
	path = .gitconfig-personal

[push]
	default = simple

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	diff = diff --word-diff
	rebaseme = !git rebase -i $(git merge-base master HEAD)
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --max-count=30
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --numstat --max-count=10
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=relative --max-count=30
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    fixup = commit --fixup=HEAD
    squash = commit --squash=HEAD
    wip = "!f() { git commit -m \"WIP: $1\"; }; f"
	identity = "! git config user.name \"$(git config user.$1.name)\"; git config user.email \"$(git config user.$1.email)\"; git config user.signingkey \"$(git config user.$1.signingkey)\"; :"

[pull]
	rebase = true

[commit]
	gpgsign = true

[gpg]
	program = /usr/local/MacGPG2/bin/gpg
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.local_gitignore
[pager]
	branch = false
[interactive]
	diffFilter = diff-so-fancy --patch
