[includeIf "gitdir:~/code/"]
	path = .gitconfig-professional
[includeIf "gitdir:~/dev/"]
	path = .gitconfig-personal

[push]
	default = simple

[alias]
	st = status
	diff = diff --word-diff
	rebaseme = !git rebase -i $(git merge-base master HEAD)
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --max-count=30
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --numstat --max-count=10
	ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%an]" --decorate --date=relative --max-count=30
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  fixup = commit --fixup=HEAD
  squash = commit --squash=HEAD
  wip = "!f() { git commit -m \"WIP: $1\"; }; f"

[pull]
	rebase = true

[commit]
	; gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[core]
	pager = delta
	editor = "nvim"
	excludesfile = ~/.local_gitignore
[pager]
	branch = false
[interactive]
  diffFilter = delta --color-only --features=interactive 
[delta]
  features = decorations
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
